Introduction to Machine Learning Project-simeon omeda

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Dataset URL: https://bit.ly/2ODZvLCHRDataset

employee_df = pd.read_csv('https://bit.ly/2ODZvLCHRDataset')

employee_df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [4]:
employee_df.shape

(54808, 14)

In [5]:
employee_df.dtypes

employee_id               int64
department               object
region                   object
education                object
gender                   object
recruitment_channel      object
no_of_trainings           int64
age                       int64
previous_year_rating    float64
length_of_service         int64
KPIs_met >80%             int64
awards_won?               int64
avg_training_score        int64
is_promoted               int64
dtype: object

In [6]:
# check for missing data in a dataset.
employee_df.isna().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [7]:
#strip leading and trailing spaces
employee_df.columns = employee_df.columns.str.strip()
#change columns to lowercase
employee_df.columns =  employee_df.columns.str.lower()

employee_df.columns

Index(['employee_id', 'department', 'region', 'education', 'gender',
       'recruitment_channel', 'no_of_trainings', 'age', 'previous_year_rating',
       'length_of_service', 'kpis_met >80%', 'awards_won?',
       'avg_training_score', 'is_promoted'],
      dtype='object')

dealing with null values

In [8]:
# Since we can not be able to predict the level of education we shall drop all the missing records
# replacing the missing previous year rating data with mean value

employee_df['previous_year_rating'].fillna(value=employee_df['previous_year_rating'].mean(), inplace=True)
#deleting all records missing education
promotion_df = employee_df.dropna(subset=['education'])
promotion_df.head(5)

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,kpis_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [10]:
# import decision tree from the sklearn library
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
#define features and target


features = employee_df.drop(['education', 'recruitment_channel', 'is_promoted', 'department','region','gender'], axis=1)
target = employee_df['is_promoted']

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

test_predictions = model.predict(x_test)

print('Predictions:', test_predictions)
print('Correct answers:', y_test.values)

Predictions: [0 0 0 ... 0 0 0]
Correct answers: [0 0 0 ... 0 0 0]

In [11]:
# Test the model through scoring
from sklearn.metrics import accuracy_score 
score = accuracy_score(y_test, test_predictions)  
score

0.8722860791826309